* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #080d16;
    color: white;
    min-height: 100vh;
}

header {
    height: 90px;
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
}

.logo span {
    color: #168cff;
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    color: #aeb7c5;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

nav a:hover {
    color: white;
}

.header-button {
    background: #168cff;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: bold;
}

.hero {
    max-width: 1200px;
    min-height: calc(100vh - 90px);
    margin: auto;
    padding: 70px 30px;

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 50px;
}

.label {
    color: #168cff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 22px;
}

h1 {
    font-size: 64px;
    line-height: 1.05;
    margin-bottom: 25px;
}

h1 span {
    color: #168cff;
}

.description {
    color: #9ca7b8;
    max-width: 570px;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary-button,
.secondary-button {
    padding: 16px 25px;
    border-radius: 9px;
    text-decoration: none;
    font-weight: bold;
}

.primary-button {
    background: #168cff;
    color: white;
}

.secondary-button {
    border: 1px solid #293448;
    color: white;
}

.advantages {
    display: flex;
    gap: 45px;
    margin-top: 65px;
}

.advantages div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.advantages strong {
    font-size: 22px;
}

.advantages span {
    color: #758196;
    font-size: 13px;
}

.car-visual {
    height: 430px;
    border: 1px solid #1d293a;
    border-radius: 25px;

    background:
        radial-gradient(circle at center, #15375f 0%, #0c1727 45%, #080d16 75%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.4);
}

.car-image {
    width: 90%;
    height: 320px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 20px;
}

.car-visual p {
    color: #7e8ca2;
}

@media (max-width: 800px) {

    nav {
        display: none;
    }

    .hero {
        grid-template-columns: 1fr;
        padding-top: 40px;
    }

    h1 {
        font-size: 45px;
    }

    .car-visual {
        height: 300px;
    }

    .advantages {
        gap: 20px;
        flex-wrap: wrap;
    }
}.services {
    padding: 100px 30px;
    background: #0b111c;
}

.section-heading {
    max-width: 1200px;
    margin: 0 auto 50px;
    text-align: center;
}

.section-heading p {
    color: #168cff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.section-heading h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.section-heading span {
    color: #8793a6;
    font-size: 17px;
}

.service-grid {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service-card {
    position: relative;
    padding: 35px 25px;
    background: #101826;
    border: 1px solid #1d293a;
    border-radius: 18px;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-8px);
    border-color: #168cff;
}

.service-icon {
    font-size: 36px;
    margin-bottom: 25px;
}

.service-card h3 {
    font-size: 21px;
    margin-bottom: 15px;
}

.service-card p {
    color: #8793a6;
    line-height: 1.6;
    min-height: 80px;
}

.service-card strong {
    display: block;
    font-size: 22px;
    margin: 25px 0;
}

.service-card a {
    display: block;
    text-align: center;
    padding: 13px;

    color: white;
    text-decoration: none;

    border: 1px solid #2b3a50;
    border-radius: 8px;
}

.service-card a:hover {
    background: #168cff;
    border-color: #168cff;
}

.popular {
    border-color: #168cff;
}

.popular-label {
    position: absolute;
    top: -12px;
    right: 20px;

    background: #168cff;
    padding: 6px 10px;
    border-radius: 6px;

    font-size: 10px;
    font-weight: bold;
}

@media (max-width: 900px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}.contacts {
    padding: 100px 30px;
    background: #080d16;
}

.contact-box {
    max-width: 1200px;
    margin: auto;
    padding: 60px;

    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 60px;

    background: #101826;
    border: 1px solid #1d293a;
    border-radius: 25px;
}

.contact-label {
    color: #168cff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.contact-info h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.contact-text {
    color: #8793a6;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact-details {
    margin-bottom: 35px;
}

.contact-details p {
    color: #c0c8d4;
    margin-bottom: 14px;
}

.whatsapp-button {
    display: inline-block;
    padding: 16px 25px;

    background: #25D366;
    color: white;

    text-decoration: none;
    font-weight: bold;
    border-radius: 9px;

    transition: 0.2s;
}

.whatsapp-button:hover {
    transform: translateY(-3px);
}

.contact-decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 300px;
    border-radius: 20px;

    background: radial-gradient(circle, #15375f, #0a1220 70%);
}

.contact-decoration > span {
    font-size: 70px;
}

.contact-decoration h3 {
    font-size: 30px;
    margin-top: 15px;
}

.contact-decoration h3 span {
    color: #168cff;
}

.contact-decoration p {
    color: #758196;
    margin-top: 10px;
}

footer {
    border-top: 1px solid #182235;
    background: #080d16;
}

.footer-content {
    max-width: 1200px;
    min-height: 100px;
    margin: auto;
    padding: 20px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content p {
    color: #657187;
    font-size: 13px;
}

@media (max-width: 700px) {

    .contact-box {
        grid-template-columns: 1fr;
        padding: 35px 25px;
    }

    .contact-info h2 {
        font-size: 34px;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}